:root {
    --bg: #000000;
    --bg-card: #0E1218;
    --text: #F1F1F1;
    --img-profile: #8257e5;
    --buttons: #FFF;
    --border-button: #1A1A1A;
}

.container
{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;

    .rocket-container
    {
        display: flex;
        flex-flow: column nowrap;
        row-gap: 25px;

        h1
        {
            color: white;
            text-align: center;
        }

        .rocket-card
        {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 500px;
            height: 830px;
            background-color: #8257e5;
            border-radius: 70px;
            z-index: 5;

            .card
            {
                display: flex;
                flex-flow: column nowrap;
                justify-content: space-between;
                width: 90%;
                height: 95%;
                background-color: var(--bg-card);
                border-radius: 70px;
                position: relative;
                z-index: 5;
                overflow: hidden;

                .card-title
                {
                    display: flex;
                    color: white;
                    align-items: center;
                    justify-content: start;
                    margin-left: 40px;
                    margin-top: 30px;
                    column-gap: 40px;
                    height: 50px;

                    img
                    {
                        width: 45px;
                        cursor: pointer;
                    }

                    #inputCard
                    {
                        color: white;
                        font-family: 'Oxygen', sans-serif;
                        font-size: 25px;
                        width: 300px;
                        border: none;
                        outline: none;
                        background-color: var(--bg-card);
                    }
                }

                .card-image
                {
                    width: 400px;
                    height: 400px;
                    position: absolute;
                    border: 5px solid blueviolet;
                    border-radius: 100%;
                    right: -35px;
                    top: 15%;
                    z-index: -1;
                }

                .card-info
                {
                    display: flex;
                    flex-flow: column nowrap;
                    align-items: flex-start;
                    justify-content: space-evenly;
                    width: 60%;
                    height: 300px;
                    background-color: #1a1a1a7c;
                    margin: 0 0 100px 40px;
                    border-radius: 50px;
                    padding: 20px;
                    user-select: none;

                    .box-info
                    {
                        display: flex;
                        flex-flow: row nowrap;
                        align-items: center;
                        column-gap: 10px;

                        img
                        {
                            width: 30px;
                        }

                        span
                        {
                            color: white;
                        }
                    }
                }

                .card-footer
                {
                    display: flex;
                    align-items: center;
                    column-gap: 25px;
                    position: absolute;
                    right: 25px;
                    bottom: 20px;
                    user-select: none;

                    span
                    {
                        color: white;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

.custom-card
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 25px;
    user-select: none;

    h2
    {
        color: white;
        font-size: 35px;
    }

    button
    {
        padding: 15px;
        font-size: 20px;
        font-family: 'Oxygen', sans-serif;
        position: relative;
        overflow: hidden;
        z-index: 1;
        border: none;
        outline: none;
        transition: color 0.35s ease;
        cursor: pointer;

        &::after
        {
            content: '';
            position: absolute;
            width: 105%;
            height: 105%;
            top: -1px;
            left: -3px;
            background-color: blueviolet;
            z-index: -1;
            transform: scaleX(0);
            transform-origin: right;
            transition: transform .35s ease;
        }

        &:hover
        {
            color: white;
        }

        &:hover::after
        {
            transform-origin: left;
            transform: scaleX(1);
        }
    }
}